<%= form_for [refinery, :redirections_admin, object] do |f| -%>
  <%= render '/refinery/admin/error_messages', object: object, include_object_name: true %>

  <%= render "/refinery/redirections/admin/redirections/inner_form", f: f, object: object %>

  <div class='field'>
    <%= f.label :from_url -%>
    <%= f.text_field :from_url, class: 'larger widest'  -%>
  </div>

  <div class='field'>
    <%= f.label :to_url -%>
    <%= f.text_field :to_url, class: 'larger widest'  -%>
  </div>

  <div class='field'>
    <%= f.label :status_code -%>
    <%= f.select :status_code, Refinery::Redirections::Redirection.status_code.options, class: 'widest'  -%>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             continue_editing: true,
             delete_title: t('delete', scope: 'refinery.redirections.admin.redirections'),
             delete_confirmation: t('message', scope: 'refinery.admin.delete', title: object.from_url) %>
<% end -%>
